# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# eclipse/DDT
.project

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

# waiting to be done:
source/sodium/crypto_stream.h
source/sodium/crypto_stream_aes128ctr.h
source/sodium/crypto_stream_chacha20.h
source/sodium/crypto_stream_salsa20.h
source/sodium/crypto_stream_salsa2012.h
source/sodium/crypto_stream_salsa208.h
source/sodium/crypto_stream_xsalsa20.h
/example

# not necessary to be done:
source/sodium/export.h
# source/sodium/sodium.h was converted to source/sodium/package.d
source/sodium/sodium.h

