# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries or MS Windows import libraries
*.a
#*.lib

# Executables
*.exe

# eclipse/DDT
.project
.settings

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

# not necessary to be done or later:
README_old.md
